:root{
  --mainBlue: #232528;
  --lightBlue: #008000;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body{
  font-family: "Oswald",sans-serif !important;
  color:var(--mainDark) !important;
  /* background-image: url('./Assets/10.jpeg');  */
  background-size: cover;
}
.text-title{
  font-family: 'Permanent Marker',cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color:var(--lightBlue);
}